<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1.0"
  />
  <meta name="description" content="{{ site.description }}" />
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}" />
  <meta name="application-name" content="{{ site.title }}" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:image" content="{{ site.banner }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta name="twitter:url" content="{{ site.url }}" />
  <meta name="twitter:title" content="{{ site.title }}" />
  <meta name="twitter:description" content="{{ site.description }}" />
  <meta name="twitter:image" content="{{ site.banner }}" />
  <!-- <meta name="google-site-verification" content=""> -->
  <title>
    {% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title |
    xml_escape }} - {{ site.description | xml_escape }} {% endif %}
  </title>
  <link rel="stylesheet" href="main.css" />
  <link rel="icon" href="favicon.ico" />
</head>
