---
import Search from "@/components/Search.astro";
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-backdrop-blur:bg-background/60"
>
  <div class="mx-auto max-w-2xl px-4 py-4">
    <div class="flex flex-col gap-2">
      <h1 class="text-2xl font-bold">
        <a href="/">Home</a>
      </h1>
      <Search />
    </div>
  </div>
</header>
