<header
  class="supports-backdrop-blur:bg-background/60 sticky pt-2 top-0 z-50 w-full border-b bg-background/95 backdrop-blur"
>
  <h2
    class="mt-10 scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0"
  >
    <a href="/">Home</a>
  </h2>
  <!-- Pagefind Search Box -->
  <div id="search"></div>
  <script src="/_pagefind/pagefind.js"></script>
  <script is:inline>
    window.addEventListener("DOMContentLoaded", () => {
      new PagefindUI({ element: "#search" });
    });
  </script>
</header>
