---
import Search from "@/components/Search.astro";
---

<header
  class="supports-backdrop-blur:bg-background/60 sticky pt-2 top-0 z-50 w-full border-b bg-background/95 backdrop-blur"
>
  <h1
    class="scroll-m-20 text-left text-4xl font-extrabold tracking-tight text-balance"
  >
    <a href="/">Home</a>
    <Search />
  </h1>
</header>
