---
const { tags } = Astro.props;

import { Badge } from "@/components/ui/badge";
import { slugify } from "@/lib/siteUtils";
---

<div class="flex flex-wrap gap-1 mb-4">
  {
    tags.map((tag: string) => (
      <Badge key={tag}>
        <a href={`/tag/${slugify(tag)}/`} title={`View sites tagged "${tag}"`}>
          {tag}
        </a>
      </Badge>
    ))
  }
</div>
