---
import HeadSEO from "@/components/HeadSEO.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

const { title, description } = Astro.props;
---

<html lang="en" class="dark">
  <HeadSEO title={title} description={description} />

  <body class="flex h-full flex-col bg-background font-sans antialiased">
    <div class="mx-auto max-w-2xl px-4 py-10">
      <Header />
      <main transition:animate="initial">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
