---
import SEO from "../components/SEO.astro";

import "../styles/base.css";
import "../styles/custom.css";

const { title, description } = Astro.props;
---

<html lang="en">
  <SEO title={title} description={description} />

  <body>
    <div class="container">
      <main>
        <slot />
      </main>

      <footer>
        <section>
          © {new Date().getFullYear()} <a href="https://github.com/AREA44">AREA44</a> 
          | Powered by <a href="https://astro.build">Astro</a> 
          | Styled by <a href="https://rachsmith.com/">Rach Smith</a>
        </section>
      </footer>
    </div>
  </body>
</html>
