---
import '@/styles/global.css'
import '@/styles/tag.css'
import MainHead from '@/components/MainHead.astro'
import Footer from '@/components/Footer.astro'

const { title, description } = Astro.props
---

<html lang="en" class="dark">
  <MainHead title={title} description={description} />

  <body class="flex h-full flex-col bg-background font-sans antialiased">
    <div class="mx-auto max-w-2xl px-4 py-10">
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
