---
import MainHead from "@/components/MainHead.astro";
import Search from "astro-pagefind/components/Search";

import "@/styles/global.css";
import "@/styles/tag.css";

const { title, description } = Astro.props;
---

<html lang="en">
  <MainHead title={title} description={description} />

  <body>
    <div class="container">
      <main>
        <Search />
        <slot />
      </main>

      <footer>
        <section>
          &copy; {new Date().getFullYear()} <a href="https://github.com/AREA44">AREA44</a> 
          | built with <a href="https://astro.build">Astro</a> 
          | based off of <a href="https://rachsmith.com/">Rach Smith</a>
        </section>
      </footer>
    </div>
  </body>
</html>
